- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}

  %body{:onorientationchange =>"ipadFunc();"}
  .preloader
    .preloader-box
      %img{:height => "40", :src => "/images/75.gif", :width => "40"}
  .bg2
  .bg1
  .left-side-bar
  .logo
  .menu-container
    %ul
      %li
        %a{:href => "#", :id => "main-1-link"} HOME
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} VENUE
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} GALLERY
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} CALENDAR
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} EVENTS
        .menu-hl
        %ol.sub-menu#sub-menu-5
          %li#sub-menu-5-item-1
            .red-line
            Booking
          %li#sub-menu-5-item-2 
            .red-line
            Bridal
          %li#sub-menu-5-item-3
            .red-line
            Happy Hours
          %li#sub-menu-5-item-4
            .red-line
            Celebration
      %li
        %a{:href => "#", :id => "main-6-link"} MENU
        .menu-hl
        %ol.sub-menu#sub-menu-6
          %li#sub-menu-6-item-1
            .red-line
            Lunch
          %li#sub-menu-6-item-2 
            .red-line
            Diner
          %li#sub-menu-6-item-3
            .red-line
            Late Night
          %li#sub-menu-6-item-4
            .red-line
            Wine List
          %li#sub-menu-6-item-5
            .red-line
            Drink
      %li
        %a{:href => "#", :id => "main-7-link"} CONTACT
        .menu-hl
  .content-container#homePage
    %h1 A new concept
    %p Welcome to Felix 55, a unique, upscale, sophisticated and casual place to enjoy great food and drinks, do business and more importantly have a good time! We are proud to say that we have brilliantly integrated both a classic dining club and a modern restaurant / lounge into one fantastic culinary phenomenon with an amazing weekend brunch menu. And - to top it off we have packed Felix 55 with a dedicated, passionate, and prodigious staff! 
    %p Michael Kramer, former executive chef at the Tasting room and chef at the Icon Hotel, is the executive chef at Felix 55, which is the newest addition to Houston’s Rice Village eclectic restaurant and bar scene. 
    %p Our beverage program and restaurant menu share the same philosophy – a modern twist on classic foods and libations with a strong focus on creativity and innovation. We have perfected all of the classic and standard drinks and invent new, original cocktails regularly that you cannot find anywhere else! We also stock premium wines that are attentively selected by educated wine enthusiasts.   And, Yes – we do like our martinis dirty.

    %p Dress up, bring your wallet and get ready to be entertained by the DJs spinning house music, the chef preparing
  .content-container#venuePage
    %h1 Venue
    %p elcome to Felix 55 – the place that's setting new standards in the Dupont Circle area – and the best location for your next event! Every detail in this space has been carefully selected and designed and what has been created, is the BEST place for you to host your next private gathering. Felix 55 features a private bar and dining area on the mezzanine level that can accommodate as many as 150 guests reception style – 75 seated.
    %p Whether you are hosting a dinner for 20 people, a private company Happy Hour, corporate event / seminar, rehearsal dinner, bridal shower or Birthday party we can guarantee that Felix 55 is the venue for you! Contact us for more information on what we can offer you and how you may be able to utilize our space! Your next event is guaranteed to be a success!!!
    %br
    .gallery-container
      %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
      %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
      %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
      %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"} 
  .content-container#galleryPage
    %h1 Gallery
    %h2 Our Staff
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %br
    %br
    %h2 Our Place
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
    %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
  .content-container#calendarPage
    %h1 Calendar
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr.event-container
        %td{:width => "120"} 
          %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
        %td{:width => "auto"}
          %h2 Mixing Monday
          %p Every Monday 9PM. Sample cocktails and choose 2 of your favorites. $20 per person to be part of the mix
    %br
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr.event-container
        %td{:width => "120"} 
          %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
        %td{:width => "auto"}
          %h2 Pink Jams
          %p Felix 55 is a proud sponsor of Pink Jams! Now through October $1 from every \"Rock the Pink\" specialty cocktail will be donated to Pink Jams! for breast cancer awareness.
    %br
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr.event-container
        %td{:width => "120"} 
          %img{:height => "100", :src => "/images/placeholder-01.jpg", :width => "100"}
        %td{:width => "auto"}
          %h2 Martini Weekend
          %p Saturday Happy Hour - 2pm-5pm (Bar Menu available) Sunday Brunch - coming soon.
    %br
  .content-container#eventPage-1
    %h1 Reservation
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "740", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p2k9/", :style => "width:100%;border:none"}
      %a{:href => "http://media3creative.wufoo.com/forms/r7p2k9/", :title => "Felix 55 Booking"} Fill out my Wufoo form!

  .content-container#eventPage-2
    %h1 Bridal Events
    %p Felix 55's Mezzanine level featuring a private bar area is the perfect location for you to host your private bridal affairs. Classy, sophisticated – sexy, this space is for making a lasting impression on your, now, growing family. Our mezzanine level can accommodate 75 seated with a buffet style prix fixe menu, or 150 standing; reception style. Please contact Katie, our Director of Special Events for more information on how you can take advantage of Felix 55's unique atmosphere. Click here to book your event online.
    %ul.normal-list
      %li Rehearsal Dinners
      %li Bridal Showers
      %li Receptions
      %li Engagement Parties
      %li Bachelor/Bachelorette Parties
  .content-container#eventPage-3
    %h1 Happy Hours
    %p Felix 55's mezzanine level features a bar area that is perfect for private happy hours. Comfortably serving 80 guests in the bar area, 150 for the whole mezzanine level. For business or pleasure we can customize your happy hour with our in house DVD system – play a DVD with photos or company logo on the big screen TVson the walls. Click here to book your event online.
    %ul.normal-list
      %li Business
      %li Pleasure
  .content-container#eventPage-4
    %h1 Celebrations
    %p There isn't a better place to celebrate! Felix 55 has a beautiful mezzanine level with a private bar area that is perfect for your next private affair! Blow out your candles in style with the sexy atmosphere in Felix 55, leave the cooking and cleaning up after to us and just sit back and enjoy your special day with your favorite people! Come in for drinks, dinner and/or appetizers and our unique menu and original cocktails will sure be a crowd pleaser. Accommodating 75 for a seated dinner, 150 to party. *Groups of 10+ will be on a preselected prix fixe menu; customized prix fixe menu cards are included at no additional charge. Click here to book your event online.
    %ul.normal-list
      %li Birthday Parties
      %li Graduations
      %li Baby Showers
      %li Mar/Mah Mitzavaha
  .content-container#menuPage-1
    %h1 Lunch
    %h2 Entree
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
    %br
    %h2 Apertizer
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
    %br
    %h2 Soups
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35         
  .content-container#menuPage-2
    %h1 Diner
    %h2 Entree
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
    %br
    %h2 Apertizer
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
    %br
    %h2 Soups
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
  .content-container#menuPage-3
    %h1 Late Night
    %h2 Entree
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
    %br
    %h2 Apertizer
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
    %br
    %h2 Soups
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
  .content-container#menuPage-4
    %h1 Wine
    %h2 Red Wine
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Pascual Toso Brut Sparkling Spain
        %td{:width => "40"}
          %p $33
      %tr
        %td
          %p 1+1=3 Cava Brut NV Italy 
        %td
          %p $40
      %tr
        %td
          %p Moet & Chandon Nectar Imperial Rose France
        %td
          %p $35
      %tr
        %td
          %p Veuve Clicquot NV France
        %td
          %p $120
      %tr
        %td
          %p Philipponnat Royale Reserve ‘08 France
        %td
          %p $90
    %br
    %h2 Champagne
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Far Niente Chardonnay ’07 California
        %td{:width => "40"}
          %p $35
      %tr
        %td
          %p Llai Llai Chardonnay ‘08 Chile
        %td
          %p $40
      %tr
        %td
          %p MLotus Chardonnay ‘08 California 
        %td
          %p $68
      %tr
        %td
          %p LindaFlor Chardonnay ‘08 Argentina 
        %td
          %p $99
      %tr
        %td
          %p Neyers Chardonnay Carneros ‘09 California 
        %td
          %p $45
  .content-container#menuPage-5
    %h1 Drink
    %h2 Martini
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Saki Martini
        %td{:width => "40"}
          %p $32
      %tr
        %td
          %p Rum Martini 
        %td
          %p $43
      %tr
        %td
          %p Kahlua Martini
        %td
          %p $28
      %tr
        %td
          %p Blue Martini
        %td
          %p $55
      %tr
        %td
          %p Bailey Martini
        %td
          %p $23
    %br
    %h2 Juice
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
      %tr
        %td{:width => "460"} 
          %p Orange
        %td{:width => "40"}
          %p $12
      %tr
        %td
          %p Kiwi
        %td
          %p $15
      %tr
        %td
          %p Tropical Punch
        %td
          %p $18
      %tr
        %td
          %p Strawberry
        %td
          %p $12
      %tr
        %td
          %p Mango
        %td
          %p $15
  .content-container#contactPage
    %h1 Contact
    %p We welcome all feedback good and bad, and any questions from enquiring minds. If you've experienced a problem with your visit please give us as many details as possible and be sure to include the date and time. We do our best to correct mistakes and this information helps us to isolate specific problems and minimize their recurrence.
    %h2 Address
    %p 5510 Morningside Dr, #120 Houston, TX 77005
    %h2 General Inquiries
    %p (713)555 5555
    %br
    %h2 Director of Special Events & Marketing
    %p
      %b Shein Armaan
    %p 
      %i shein@felix55.com
    %p 832.860.0068
    
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "420", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p5x7/", :style => "width:100%;border:none"}
      %a{:href => "http://media3creative.wufoo.com/forms/q7p5x7/", :title => "Felix 55"} Contact us
  .footer
    %p 5510 MORNINGSIDE SUITE 120
    %p HOUSTON, TEXAS 7705
    %p.phone-num 713-333-3354
    %p INFO@FELIX55.COM
    .social-icon
      %img{:height => "30", :src => "/images/facebook_logo.png", :width => "30"}
      %img{:height => "30", :src => "/images/twitter_logo.png", :width => "30"}
  .photo-preload
    %img{:height => "40", :src => "/images/bg_1.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_2.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_3.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_6.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_7.jpg", :width => "40"}                
