- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %meta{:name => "keywords", :content => "bar,restaurant,houston,texas,rice village, brunch, wine, cocktail, martini"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/queryLoader.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/queryLoader.js", :type => "text/javascript"}
    //%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js", :type => "text/javascript"}
    


  %body{:onorientationchange =>"ipadFunc();"}
  //.preloader
  //  .preloader-box
  //    %img{:height => "40", :src => "/images/75.gif", :width => "40"}
  .bg2
  .bg1
  .left-side-bar-bg
  .left-side-bar
    .logo
      %img{:height => "89", :src => "/images/logo.png", :width => "156", :border => "0", :class => "icon"}
    .footer
      %p 5510 MORNINGSIDE, No. 120
      %p HOUSTON, TEXAS 77005
      %p.phone-num 713-590-0610
      %p INFO@FELIX55.COM
      .social-icon
        %a{:href => "http://www.facebook.com/felix55houston", :target => "_blank"}
          %img{:height => "30", :src => "/images/facebook_logo.png", :width => "30", :border => "0", :class => "icon"}
        %a{:href => "http://twitter.com/Felix55houston", :target => "_blank"}
          %img{:height => "30", :src => "/images/twitter_logo.png", :width => "30", :border => "0", :class => "icon"}
  .menu-container
    %ul
      %li
        %a{:href => "#", :id => "main-1-link"} HOME
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} VENUE
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} GALLERY
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} RESERVATIONS
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} EVENTS CALENDAR
        .menu-hl
      %li
        %a{:href => "#", :id => "main-6-link"} HAPPY HOURS
        .menu-hl
      %li
        %a{:href => "#", :id => "main-7-link"} MENU
        .menu-hl
        %ol.sub-menu#sub-menu-6
          %li#sub-menu-6-item-1
            .red-line
            Lunch
          %li#sub-menu-6-item-2 
            .red-line
            Dinner
          %li#sub-menu-6-item-5
            .red-line
            Brunch
          %li#sub-menu-6-item-4
            .red-line
            Wine List
          %li#sub-menu-6-item-3
            .red-line
            %span{:style => "font-size: 13px; letter-spacing: 0.1em"}Martini
          %li#sub-menu-6-item-6
            .red-line
            %span{:style => "font-size: 12px; letter-spacing: 0.075em"}Cocktails
      %li
        %a{:href => "#", :id => "main-8-link"} CONTACT
        .menu-hl
        %ol.sub-menu#sub-menu-8
          %li#sub-menu-8-item-1
            .red-line
            Contact
          %li#sub-menu-8-item-2 
            .red-line
            Direction
  #homePage
    .content
      %h1 A new concept
      %p Welcome to Felix 55, Houston's uniquely sophisticated, upscale, yet casual place to enjoy great food, freshly crafted Drinks, meet friends, attend business and more importantly have a good time. We are proud to have brilliantly integrated a classic dining club and a modern restaurant / lounge into one fantastic culinary phenomenon. And to top it off we have Staffed Felix 55 with a dedicated, passionate, and exceptional crew to ensure you leave each time only eager to return.
      %p Our Executive Chef, Michael Kramer, has crafted an enticing menu that is sure to awaken the inner foodie in you. As A former Executive Chef at numerous prominent restaurants in Houston and around the country, he brings a unique perspective into Rice Village's culinary scene that will ensure a lasting impression.
      %p Our culinary and cocktail programs share the same philosophy of creativity and innovation. Our cocktail menu boasts a balance of classic favorites and trendy creations that are rare to find. We also stock premium and boutique wines that are attentively selected by educated wine enthusiasts.
      %p Dress up, and get ready to be entertained by the latest lounge music, live bands, the chef preparing gastronomical wonders, and our bartenders mixing outstanding martinis and cocktails.   Cheers
      .close-content Close
  #venuePage
    .content
      %h1 Venue
      %p We want your event to be memorable and capture your personality. Felix 55's involvement can range from catering services to the addition of wine pairings to a full bar with custom-made cocktails. Or better yet, Felix 55 can execute every detail necessary to create a successful (and delicious) party.
      %p We're here to help.
      %br 
  #galleryPage
    .content
      %h1 Gallery
      %h2 Our Place
      .gallery-container
        %a{:href => "/images/pics/place/pic_1.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_1_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_2.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_2_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_3.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_3_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_4.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_4_small.jpg", :width => "100"}
        //%a{:href => "/images/pics/place/pic_5.jpg", :rel => "lightbox[place]"}
        //  %img{:height => "100", :src => "/images/pics/place/pic_5_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_6.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_6_small.jpg", :width => "100"}
        //%a{:href => "/images/pics/place/pic_7.jpg", :rel => "lightbox[place]"}
        //  %img{:height => "100", :src => "/images/pics/place/pic_7_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_8.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_8_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_9.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_9_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_10.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_10_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_11.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_11_small.jpg", :width => "100"}
        %a{:href => "/images/pics/place/pic_12.jpg", :rel => "lightbox[place]"}
          %img{:height => "100", :src => "/images/pics/place/pic_12_small.jpg", :width => "100"}
      %br
      %br
      %h2 Our Food
      .gallery-container
        %a{:href => "/images/pics/food/pic_1.jpg", :rel => "lightbox[food]"}
          %img{:height => "100", :src => "/images/pics/food/pic_1_small.jpg", :width => "100"}
        %a{:href => "/images/pics/food/pic_2.jpg", :rel => "lightbox[food]"}
          %img{:height => "100", :src => "/images/pics/food/pic_2_small.jpg", :width => "100"}
        %a{:href => "/images/pics/food/pic_3.jpg", :rel => "lightbox[food]"}
          %img{:height => "100", :src => "/images/pics/food/pic_3_small.jpg", :width => "100"}
        %a{:href => "/images/pics/food/pic_4.jpg", :rel => "lightbox[food]"}
          %img{:height => "100", :src => "/images/pics/food/pic_4_small.jpg", :width => "100"}
        %a{:href => "/images/pics/food/pic_5.jpg", :rel => "lightbox[food]"}
          %img{:height => "100", :src => "/images/pics/food/pic_5_small.jpg", :width => "100"}
        %a{:href => "/images/pics/food/pic_6.jpg", :rel => "lightbox[food]"}
          %img{:height => "100", :src => "/images/pics/food/pic_6_small.jpg", :width => "100"}
          
      %br
      %br
  #calendarPage
    .content
      %h1 Event Calendar
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr.event-container
          %td{:width => "120"} 
            %img{:height => "100", :src => "/images/pics/event_04_small.jpg", :width => "100"}
          %td{:width => "auto"}
            %h2 Burger Saturday
            %p Burgers on the Patio at Felix 55. Join us Every Saturday from 10:30am to 4pm at our beautiful patio and enjoy some Juicy Fresh Burgers made for you on our patio Grills.
      %br
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr.event-container
          %td{:width => "120"} 
            %img{:height => "100", :src => "/images/pics/event_01_small.jpg", :width => "100"}
          %td{:width => "auto"}
            %h2 Organic Fridays
            %p All Skinny Organics from our cocktail menu are at Happy Hour Price from 3pm-7pm on Fridays.
      %br
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr.event-container
          %td{:width => "120"} 
            %img{:height => "100", :src => "/images/pics/event_02_small.jpg", :width => "100"}
          %td{:width => "auto"}
            %h2 Neighborhood Weekly Wine Tasting
            %p Beginning on November 15th, join us Every Tuesday from 5pm to 7pm for our Weekly wine tasting. Exciting wines and enticing pairings every Tuesday.
      %br
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr.event-container
          %td{:width => "120"} 
            %img{:height => "100", :src => "/images/pics/event_03_small.jpg", :width => "100"}
          %td{:width => "auto"}
            %h2 Live Music
            %p Live Guitar Every Thursday Night from 9pm with Reverse Happy Hour from 10pm to 11pm.
      
      %br
  #reservationPage
    .content
      %h1 Reservation
      %p Let Felix 55's experienced professional staff augment your own team by taking care of logistics such as hotel accommodations and car service or lending a hand in vendor negotiations. From concept development to the smallest details Felix 55's full-service Event Team will help to make your next special event an unrivaled experience
      .reseverationBox{:style => "margin-left: 180px;"}
        %script{:src => "http://www.opentable.com/frontdoor/default.aspx?rid=70168&restref=70168&hover=1", :type => "text/javascript"}
      %br
      %br

  #happyHourPage
    .content
      %h1 Happy Hour
      %h2 Every day
      %p 4pm to 7pm
      %a.download{:href => "/pdf/happy_hour.pdf", :title => "Wine List", :target => "_blank"} Download our Happy Hour Menu
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p TRUFFLE FRIES  | parmesan cheese, parsley
          %td{:width => "40"}
            %p $5
        %tr
          %td
            %p PULLED PORK TACOS | cotija cheese, red cabbage, avocado crema
          %td
            %p $5
        %tr
          %td
            %p FISH and CHIPS | tuna tartare, crisp taro chips, wasabi, soy 
          %td
            %p $5
        %tr
          %td
            %p BQQ BEEF SLIDERS | jack cheese, house made pickles, slaw
          %td
            %p $5
        %tr
          %td
            %p SPANISH MEATBALLS | pimenton infused tomato sauce
          %td
            %p $5
        %tr
          %td
            %p BRUSCETTA | mushrooms, tomatoes, ovaline mozzarella
          %td
            %p $5 
        %tr
          %td
            %p RICE DUSTED CALAMARI | red chili and ponzu sauces
          %td
            %p $5
        %tr
          %td
            %p SPICE GRILLED SHRIMP | arbol chhiles, jicama-lime salad  
          %td
            %p $5
        %tr
          %td
            %p SELECT WINE
          %td
            %p $5
        %tr
          %td
            %p MARTINIS
          %td
            %p $5
        %tr
          %td
            %p MOJITOS
          %td
            %p $5
        %tr
          %td
            %p CALL MIX DRINK
          %td
            %p $5
    %br
  #menuPage-1
    .content
      %h1 Lunch
      %p Our cuisine is American with influences from around the globe. Our handcrafted menu is ingredient driven, changing seasonally, with clean, pure and simple flavors. The ingredients are sourced locally and regionally, depending on what we can find, and we always cook from our heart to bring our guests the best we can offer from our hard work.
      %a.download{:href => "/pdf/lunch.pdf", :title => "Wine List", :target => "_blank"} Download our Lunch Menu
      %br
      %br
      %h2 Bite to share
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p CEVICHE | Leche de Tigre, Cilantro, Lime, Tortilla Chips
          %td{:width => "40"}
            %p $9
        %tr
          %td
            %p ARTISAN CHEESE BOARD | Marcona Almonds, Grapes, Toasted Baguette
          %td
            %p $16
        %tr
          %td
            %p CRIMINI MUSHROOM RISOTTO | Tomato, Chives, Parmesan Cheese
          %td
            %p $9
        %tr
          %td
            %p TRUFFLE FIRES | Parmesan Cheese, Parsley
          %td
            %p $7
      %br
      %br
      %h2 Salad & Soup
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p MUSHROOM SOUP | crushed hazelnuts, truffle goat cheese, porcini powde   
          %td{:width => "40"}
            %p $6
        %tr
          %td
            %p BLACK BEAN SOUP | Avocado Crema, Jack Cheese, Crispy Tortillas
          %td
            %p $6
        %tr
          %td
            %p FALL SALAD | pears, endive, pecans, bleu cheese, sherry vinaigrette
          %td
            %p $11
        %tr
          %td
            %p BABY ARUGULA SALAD | Fuji Apple, Pine Nuts, Parmesan, White Balsamic Vinaigrette
          %td
            %p $9
        %tr
          %td
            %p SEARED RARE TUNA | Arugula, Bean Sprouts, Radish, Carrots, Sesame-Ginger Vinaigrette
          %td
            %p $13
        %tr
          %td
            %p CAESAR SALAD | garlic croutons, parmesan cheese, creamy caesar dressing
          %td
            %p $9
      %br
      %br
      %h2 Sandwiches and Flatbreads
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p GRILLED CHICKCEN CLUB BLT | jack Cheese, avocado aioli, fries
          %td{:width => "40"}
            %p $10
        %tr
          %td
            %p TURKEY PANINI | garlic Aioli, tomato confit, swiss, baby greens
          %td
            %p $10
        %tr
          %td
            %p GRILLED VEGETABLE PANINI | eggplant, basil pesto, ciabatta, baby greens   
          %td
            %p $10
        %tr
          %td
            %p CHICKEN SANDWICH TOSCANA | basil pesto, provolone cheese, grilled bread, arugula 
          %td
            %p $11
      %ul.normal-list
        %li Any above half sandwich + cup soup | $10
      %br
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p SEARED TUNA BURGER | Wasabi Aioli, Pickles, Bib Lettuce, Kaiser Bun, Chips
          %td{:width => "40"}
            %p $14
        %tr
          %td
            %p TEXAS GRASS FED BEEF BURGER | Kaiser Bun, House Made Pickle, Choice of Cheese, Fries
          %td
            %p $12
        %tr
          %td
            %p PROSCIUTTO FLATBREAD | garlic, ovaline mozzarella, arugula
          %td
            %p $13
        %tr
          %td
            %p MUSHROOM FLATBREAD | teardrop tomatoes, mushrooms, caramelized onion, truffle oil
          %td
            %p $12
            %br
      %br
      %br
      %h2 Large Plate
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p CHAR GRILLED HALF CHICKEN | polenta, bacon, tomato conserva, sea salt
          %td{:width => "40"}
            %p $16
        %tr
          %td
            %p GULF RED SNAPPER | caramelized onions, grape tomatoes, navy beans, pancetta
          %td
            %p $24
        %tr
          %td
            %p BOURBON BRINED PORK CHOP | sweet potato puree, red chard, granny smith apple-pine nut soffrito
          %td
            %p $18
        %tr
          %td
            %p BUCCATINI PASTA | braised beef shortribs, garlic, Italian plum tomatoes, rosemary
          %td
            %p $17
      %br
      %br
      %h2 Sweets
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p GOOSEY CHOCOLATE CAKE | espresso infused anglaise, sea salt caramel ice cream
          %td{:width => "40"}
            %p $6
        %tr
          %td
            %p BASEL INFUSED CREME BRULEE | basil custard, burnt sugar, berries
          %td
            %p $6
        %tr
          %td
            %p ORANGE-FENNEL PANNA COTTA | berries, candied fennel
          %td
            %p $6
        %tr
          %td
            %p CHOCOLATE HAZELNUT BREAD PUDDING | hazelnut ice cream, bourbon-caramel sauce
          %td
            %p $6  
  #menuPage-2
    .content
      %h1 Dinner
      %p Our cuisine is American with influences from around the globe. Our handcrafted menu is ingredient driven, changing seasonally, with clean, pure and simple flavors. The ingredients are sourced locally and regionally, depending on what we can find, and we always cook from our heart to bring our guests the best we can offer from our hard work.
      %a.download{:href => "/pdf/diner.pdf", :title => "Wine List", :target => "_blank"} Download our Dinner Menu
      %br
      %br
      %h2 Small Plates
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p MUSHROOM SOUP | crushed hazelnuts, truffle goat cheese, porcini powder
          %td{:width => "40"}
            %p $6
        %tr
          %td
            %p FALL SALAD | pears, endive, pecans, bleu cheese, sherry vinaigrette 
          %td
            %p $11
        %tr
          %td
            %p BABY ARUGULA SALAD | Fuji apple, pine nuts, parmesan, white balsamic vinaigrette
          %td
            %p $9
        %tr
          %td
            %p SEA SCALLOPS | , butternut squash, bacon, Israeli couscous, lemon sauce
          %td
            %p $14
        %tr
          %td
            %p ARTISAN CHEESE BOARD | marcona almonds, grapes, toasted baguette
          %td
            %p $16
        %tr
          %td
            %p TARTARE OF BIG EYE TUNA | scallion, soya, sesame, wasabi cream
          %td
            %p $12
        %tr
          %td
            %p CEVICHE | leche de tigre, cilantro, lime, tortilla chip
          %td
            %p $9
        %tr
          %td
            %p CRIMINI MUSHROOM RISOTTO | tomatoes, chive, parmesan cheese
          %td
            %p $9
        %tr
          %td
            %p POTATO GNOCCHI |  brussels sprouts, chorizo, grape tomatoes, parmesan broth  
          %td
            %p $9
        %tr
          %td
            %p CARPACCIO of BEEF | capers, shallot, olive oil, sea salt
          %td
            %p $14
      %br
      %br
      %h2 Flatbreads
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p PROSCIUTTO | garlic, ovaline mozzarella, arugula
          %td{:width => "40"}
            %p $14
        %tr
          %td
            %p MUSHROOM FLATBREAD | teardrop tomatoes, mushrooms, caramelized onion, truffle oil
          %td
            %p $12
      %br
      %br
      %h2 Large Plate
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p FALL VEGETABLE PLATE | , seasonal vegetables, Israeli couscous, tomato conserva, herb oil
          %td{:width => "40"}
            %p $14
        %tr
          %td
            %p GULF RED SNAPPER | caramelized onions, grape tomatoes, navy beans, pancetta
          %td
            %p $24
        %tr
          %td
            %p CULF COAST GROUPER | black olives, capers, fingerling potatoes, tomato confit   
          %td
            %p $24
        %tr
          %td
            %p CHAR GRILLED HALF CHICKEN | polentta, bacon, tomato conserva, sea salt 
          %td
            %p $16
        %tr
          %td
            %p MESQUITE SMOKED DUCK | fig mostarda, Israeli couscous, crushed hazelnuts, agro dolce
          %td
            %p $22
        %tr
          %td
            %p BOURBON BRINED CHOP | sweet potato puree, red chard, granny smith apple-pine nut soffrito
          %td
            %p $18
        %tr
          %td
            %p GRILLED HANGER STEAK | mustard glazed potatoes, rapini, roast onion vinaigrette
          %td
            %p $18
        %tr
          %td
            %p BUCCATINI PASTA | braised beef shortribs, garlic, Italian plum tomatoes, rosemary   
          %td
            %p $17
        %tr
          %td
            %p BRAISED BEEF SHORT RIB | celery root puree, butternut squash, salsify, braising juices
          %td
            %p $24
            %br    
      %br
      %br
      %h2 Additions
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Lobster, Mac & Jack Gratin with Pancetta
          %td{:width => "40"}
            %p $10
        %tr
          %td
            %p Parmesan Polenta
          %td
            %p $5
        %tr
          %td
            %p Truffle Fries, Parmesan Cheese, Parsley
          %td
            %p $7
        %tr
          %td
            %p Green Beans, Pine Nuts, Parmesan, Lemon
          %td
            %p $5
        %tr
          %td
            %p Israeli Couscous, Tomatoes, Herbs
          %td
            %p $5
      %br
      %br
      %h2 Sweets
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p GOOEY CHOCOLATE CAKE | espresso angalise, caramel ice cream
          %td{:width => "40"}
            %p $6
        %tr
          %td
            %p BRASIL INFUSED CREME BRULEE | basil custard, burnt sugar, berries 
          %td
            %p $6
        %tr
          %td
            %p ORANGE-FENNEL PANNA COTTA | berry compote, candied fennel, biscotti
          %td
            %p $6
        %tr
          %td
            %p CHOCOLATE HAZELNUT BREAD PUDDING | hazelnut ice cream, bourbon-caramel sauce
          %td
            %p $6
  #menuPage-3
    .content
      %h1 Martini
      %p For swank and sophistication, nothing beats a martini. The martini has a storied past and a long list of famous devotees. Cool cats like Ernest Hemingway, Cary Grant and James Bond had their favorite drink served dry, dirty or shaken.
      %p The Martinis at Felix 55 are more elaborate versions of the original recipes, with ingredients added to satisfy today's adventurous palate.
      %a.download{:href => "/pdf/wine_list.pdf", :title => "Wine List", :target => "_blank"} Download our Martini Menu
      %br
      %br
      %h2 Handcrafted Martini
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p APPLE | vodka, apple liqueur, freshly squeezed  lime juice, simple syrup
          %td{:width => "40"}
            %p $8
        %tr
          %td
            %p THE VESPER | London dry gin, handcrafted vodka, lillet
          %td
            %p $10
        %tr
          %td
            %p THE BELLINITINI | citrus vodka, peach schnapps, orange juice, cranberry juice, prosecco
          %td
            %p $9
        %tr
          %td
            %p COSMOPOLITAN | citrus vodka, orange liqueur, freshly squeezed lemon juice cranberry juice
          %td
            %p $8
        %tr
          %td
            %p CHOCOLATE | vodka, godiva liqueur, crème d’ cacao, half and half
          %td
            %p $10
        %tr
          %td
            %p LEMON DROP | citrus vodka , freshly squeezed lemon juice, orange liqueur
          %td
            %p $8
      %br
      %br
      %h2 Other things
      %br
      %h3 Zero Proof
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p GINGER BREW
          %td{:width => "40"}
            %p $4
        %tr
          %td
            %p NON - ALCOHOLIC BEER
          %td
            %p $4
        %tr
          %td
            %p SAN PELLIGRINO | 750ml
          %td
            %p $4
        %tr
          %td
            %p FRESHLY SQUEEZED LEMONADE 
          %td
            %p $3
        %tr
          %td
            %p FRESHLY SQUEEZED ORANGE JUICE
          %td
            %p $3
            %br
      %h3 COFFEE + LOOSE LEAF TEA
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p ESPRESSO
          %td{:width => "40"}
            %p $3
        %tr
          %td
            %p CAPPUCCINO
          %td
            %p $4
        %tr
          %td
            %p DRIP COFFEE
          %td
            %p $2
        %tr
          %td
            %p LOOSE LEAF TEA SELECTION | Almond, Mint, Organic Green, Earl Grey, English Breakfast, Chamomile Blossoms, India Spice, Ginger Peach
            
          %td
            %p $4 
  #menuPage-4
    .content
      %h1 Wine List
      %p We specialize in boutique wines that are attentively selected by educated wine enthusiasts. The wine list is hand picked, consisting of a large number of California producers, as well as Oregon, France, Italy, Spain, Australia, and Argentina. It is a blend of old and new world selections and includes a select few varieties of Champagnes and sparkling wines. Our service team is happy to assist you in choosing the perfect pairing that will complement your food selection and ensure your experience is complete from start to finish. 
      %a.download{:href => "/pdf/wine_list.pdf", :title => "Wine List", :target => "_blank"} Download our Wine List  
      %br
      %br   
      %h2 Apertifs & Digestifs
      %br
      %h3 Liqueur, Liqours & Such
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Vieux Carre Absinthe Superieure
          %td{:width => "40"}
            %p $10
        %tr
          %td
            %p Pernod, Paris
          %td
            %p $8
        %tr
          %td
            %p Drambuie Liqueur
          %td
            %p $8
        %tr
          %td
            %p Sambuca Romana
          %td
            %p $8
        %tr
          %td
            %p Cuarenta y Tres Liqueur
          %td
            %p $9
        %tr
          %td
            %p Grappa Marolo Moscato
          %td
            %p $11
        %tr
          %td
            %p Pierre Ferrand Cognac, Reserve
          %td
            %p $15
        %tr
          %td
            %p Cle's des Ducs Armagnac Napolean
          %td
            %p $15
        %tr
          %td
            %p Comte Louis de Lauriston Calvados
          %td
            %p $13
        %tr
          %td
            %p Remy V.S.O. P
          %td
            %p $14
      %br
      %br
      %h3 Tequila & Mezcal
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Del Maguey Chichicapa,  Mezcal
          %td{:width => "40"}
            %p $12
        %tr
          %td
            %p Del Maguey Crema De Mezcal
          %td
            %p $8
        %tr
          %td
            %p Don Julio Blanco, Reposado, Anejo
          %td
            %p $8 $10 $12
      %br
      %br
      %h3 GIN
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Tru Organic Gin
          %td{:width => "40"}
            %p $9
        %tr
          %td
            %p  Bombay Sapphire
          %td
            %p $11
        %tr
          %td
            %p Tanqueray No. 10 Batch
          %td
            %p $11
        %tr
          %td
            %p Hendrick's
          %td
            %p $10
      %br
      %br
      %h3 Vodka
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Mezzaluna, Italy
          %td{:width => "40"}
            %p $9
        %tr
          %td
            %p Chopin, Poland 
          %td
            %p $10
        %tr
          %td
            %p  Grey Goose, France
          %td
            %p $10
        %tr
          %td
            %p  Titos, TX 
          %td
            %p $8
      %br
      %br
      %h3 WHISKEY
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Knob Creek Small Batch Bourbon, 9 yr
          %td{:width => "40"}
            %p $9
        %tr
          %td
            %p Four Roses Kentucky Straight Bourbon
          %td
            %p $8
        %tr
          %td
            %p Basil Hayden Kentucky Straight Bourbon
          %td
            %p $9
        %tr
          %td
            %p Chivas Blended Scotch, 18yr
          %td
            %p $15
        %tr
          %td
            %p Macallan Single Malt, 12 yr
          %td
            %p $12
        %tr
          %td
            %p Cardhu Single Malt, 12 yr
          %td
            %p $11
        %tr
          %td
            %p  Laphroaig Single Malt, 10 yr
          %td
            %p $9
        %tr
          %td
            %p  Dalwhinnie Single Malt, 15 yr
          %td
            %p $14
      %br
      %br
      %h2 Craft Brews
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Michelob Ultra, St. Louis
          %td{:width => "40"}
            %p $4
        %tr
          %td
            %p Stella Artois, Leuven
          %td
            %p $5
        %tr
          %td
            %p Fireman #4 Blonde Ale, Blanco TX
          %td
            %p $5
        %tr
          %td
            %p Brewhouse Brown Ale, Blanco TX
          %td
            %p $4
        %tr
          %td
            %p Chimay Premiere (Red), Chimay
          %td
            %p $18
        %tr
          %td
            %p Paulaner Salvatore, Munich
          %td
            %p $8
        %tr
          %td
            %p Paulaner Oktoberfest, Munich
          %td
            %p $7
        %tr
          %td
            %p Guinness, Dublin
          %td
            %p $6
        %tr
          %td
            %p Guinness Black Lager, Dublin
          %td
            %p $5
        %tr
          %td
            %p Abita Amber, Abita Springs
          %td
            %p $4
        %tr
          %td
            %p St. Arnold Amber, Houston
          %td
            %p $4
        %tr
          %td
            %p St. Arnold Christmas Ale
          %td
            %p $4
        %tr
          %td
            %p Amstel Light, Zoeterwoude
          %td
            %p $5
      %br
      %br
      %h2 BUBBLES
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Secco Brut Prosecco NV 
          %td{:width => "40"}
            %p $9 $25
        %tr
          %td
            %p Secco Brut Rosé Prosecco NV
          %td
            %p $10 $28
        %tr
          %td
            %p Elio Perrone Moscato d' Asti '10
          %td
            %p $14 $40
        %tr
          %td
            %p Cremant de Limoux
          %td
            %p $15 $43
        %tr
          %td
            %p Dom Ruinart Blanc de Blanc NV, Reims, France
          %td
            %p $110
        %tr
          %td
            %p Rotari Brut Chardonnay NV, Trento, Italy
          %td
            %p $38
        %tr
          %td
            %p  Rotari Brut Rose Chardonnay NV, Trento, Italy	          
          %td
            %p $38
        %tr
          %td
            %p Gaston Chiquet 1er Cru NV, Reims, France
          %td
            %p $75
        %tr
          %td
            %p Schramsberg Cremant Demi-Sec '06, Calistog
          %td
            %p $60
      %br
      %br
      %h2 RED
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Black Ridge Pinot Noir NV, Californi
          %td{:width => "40"}
            %p $8 $22
        %tr
          %td
            %p Domaine Sonoma Merlot '09, Sonoma County
          %td
            %p $10 $28
        %tr
          %td
            %p Avanti Malbec '09, Mendoza, Argentina
          %td
            %p $10 $29
        %tr
          %td
            %p Probabilty Blend '07, Napa Valley	
          %td
            %p $12 $34
        %tr
          %td
            %p Alexander Valley Cab.'09, Alexander Valley
          %td
            %p $12 $34
        %tr
          %td
            %p Senorio Tempranillo '09, Rioja, Spain
          %td
            %p $10 $28
        %tr
          %td
            %p  Petite Petit Blend '09, California
          %td
            %p $13 $43
        %tr
          %td
            %p Belle Valley Pinot Noir '08, Willamette Valley
          %td
            %p $42
        %tr
          %td
            %p Cru Montage Pinot Noir '08, Central Coas
          %td
            %p $36
        %tr
          %td
            %p Vinaceous "Raconteur" Cab. '07, Australia
          %td
            %p $34
        %tr
          %td
            %p Evening Land Pinot Noir '09, Willamette Valley
          %td
            %p $40
        %tr
          %td
            %p  Antigal "Uno" Malbec, Mendoza, Argentina
          %td
            %p $36
        %tr
          %td
            %p  Bautista Malbec '07, Mendoza, Argentina
          %td
            %p $32
        %tr
          %td
            %p Arceno "Prima Voce", Tuscany, Italy
          %td
            %p $35
        %tr
          %td
            %p Apolloni "Cuvee" L '09,  Willamette Valley
          %td
            %p $39
        %tr
          %td
            %p  Bussola '05, Valploicella, Italy
          %td
            %p $64
        %tr
          %td
            %p  Chappellet "Mountain Cuvee" '09, St. Helena
          %td
            %p $48
        %tr
          %td
            %p  Ercavio Tempranillo '09, Rioja, Spain
          %td
            %p $27
        %tr
          %td
            %p Trinoro ''La Coupole'' ’06, Tuscany, Italy
          %td
            %p $48
        %tr
          %td
            %p Mas Alta ''Artigas'' Tempranillo '06,Priorat, Spain
          %td
            %p $60
        %tr
          %td
            %p  Chanarmuyo Malbec '05, La Rioja, Argentina
          %td
            %p $29
        %tr
          %td
            %p  Domaine de la Janesse '08, Cotes Du Rhone, France
          %td
            %p $28
        %tr
          %td
            %p Dmn. de la Solitude '09, Chateauneuf-du-Pape
          %td
            %p $64
        %tr
          %td
            %p Ville St. Juliet Petite Sirah '09, Paso Robles
          %td
            %p $28
        %tr
          %td
            %p San Lorenzo '09, Dolcetto d' Alba, Italy
          %td
            %p $44
        %tr
          %td
            %p Dmn. de la Pertuisane Grenache '08, France
          %td
            %p $36
        %tr
          %td
            %p Midsummer Cellars  Cabernet '07, Napa Valley
          %td
            %p $70
        %tr
          %td
            %p  La Follette Pinot Noir '09, Sonoma Coast
          %td
            %p $60
        %tr
          %td
            %p Gary Farrell Pinot Noir '08, Russian River Valley
          %td
            %p $75
        %tr
          %td
            %p Abiouness Pinot Noir '07, Carneros
          %td
            %p $75
        %tr
          %td
            %p Reynolds "Persistence" '06, Napa Valley
          %td
            %p $111
        %tr
          %td
            %p Orin Swift "The Prisoner" '09, Rutherford
          %td
            %p $75
        %tr
          %td
            %p Titus Merlot '07, Napa Valley
          %td
            %p $65
        %tr
          %td
            %p Erna Schein "Spare Me" 09, St. Helena
          %td
            %p $124
        %tr
          %td
            %p Chateau Haut Veyrac '05, Saint- Emilion
          %td
            %p $60
      %br
      %br
      %h2 WHITE
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p Alexander Valley Chard.  '09, Alexander Valle
          %td{:width => "40"}
            %p $10 $28
        %tr
          %td
            %p Maison Champy Chard. '09, Macon-Uchizy
          %td
            %p $15 $42
        %tr
          %td
            %p Hopler Gruner Veltliner '10, Austria
          %td
            %p $10 $30
        %tr
          %td
            %p Supernatural Sauv. Blanc '09, New Zealand
          %td
            %p $13 $37
        %tr
          %td
            %p La Fiera Pinot Grigio '10 Friuli, Italy
          %td
            %p $8 $22
        %tr
          %td
            %p Egelhoff Riesling '09, Napa Valley
          %td
            %p $12 $34
        %tr
          %td
            %p Nice Sauvignon Blanc '10, Mendoza, Argentina
          %td
            %p $33
        %tr
          %td
            %p Hill Family Sauvignon Blanc '10, Rutherford
          %td
            %p $38
        %tr
          %td
            %p Monte Maria Pinot Grigio '10, Venezie, Italy
          %td
            %p $30
        %tr
          %td
            %p 7 Lunas Torrontes '09, Mendoza, Argentina
          %td
            %p $30
        %tr
          %td
            %p K Vintners Viognier '10, Columbia Valley
          %td
            %p $37
        %tr
          %td
            %p Beckstoffer "Hogwash Rose" '10, St. Helena
          %td
            %p $27
        %tr
          %td
            %p Kung Fu Girl Riesling '10, Columbia Valley
          %td
            %p $28
        %tr
          %td
            %p Paul Thomas "Les Comtesses", Sancerre, France
          %td
            %p $42
        %tr
          %td
            %p Cru Montage Chardonnay '08, Monterey County
          %td
            %p $36
        %tr
          %td
            %p Evening Land "Blue Label" Chard, Arroyo Valley, Novellum Chardonnay 09, 
            
          %td
            %p $34
        %tr
          %td
            %p Vin de Pays d 'Oc, France
          %td
            %p $34
        %tr
          %td
            %p Girard Chardonnay '09, Russian River Valley
          %td
            %p $42
  #menuPage-5
    .content
      %h1 Brunch
      %p Our cuisine is American with influences from around the globe. Our handcrafted menu is ingredient driven, changing seasonally, with clean, pure and simple flavors. The ingredients are sourced locally and regionally, depending on what we can find, and we always cook from our heart to bring our guests the best we can offer from our hard work.
      %a.download{:href => "/pdf/brunch.pdf", :title => "Wine List", :target => "_blank"} Download our Brunch Menu 
      %br
      %br
      %h2 To Start
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p CEVICHE | leche de tigre, cilantro, lime, tortilla chip
          %td{:width => "40"}
            %p $9
        %tr
          %td
            %p SHRIMP & GRIT | bacon, peppers, onions, cajun butter sauce
          %td
            %p $12
        %tr
          %td
            %p BABY ARUGULA SALAD | fuji apple, pine nut, parmesan, white balsamic vinaigrette
          %td
            %p $9
      %br
      %br
      %h2 Entrees
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p MUSHROOM OMELET | Tomato, Basil, Goat’s Cheese, Truffle Oil, Home Fries 
          %td{:width => "40"}
            %p $10
        %tr
          %td
            %p HUEVOS RANCHEROS | Two Sunny Side Eggs, Black Beans, Guacamole, Pico de Gallo 
          %td
            %p $12
        %tr
          %td
            %p TUSCAN FRENCH TOAST | Pure Maple Syrup, Nutella Cream, Candied Pecans 
          %td
            %p $12
        %tr
          %td
            %p STEAK 'n EGGS BENEDICT | Grilled Bread, Hanger Steak, Home Fries, White Truffle Hollandaise 
          %td
            %p $14
        %tr
          %td
            %p FRIED CHICKEN AND WAFFLES | Sunny Side Eggs, Vanilla Infused Maple Syrup
          %td
            %p $14
        %tr
          %td
            %p HUEVOS en PURGATORIO | Eggs in Purgatory, Baked Eggs, Tomato Sauce, Mexican Chorizo, Jack Cheese 
          %td
            %p $12
        %tr
          %td
            %p SHRIMP & AVOCADO BENNY | Poached Eggs, Home Fries, Baby Greens, Hollandaise Sauce 
          %td
            %p $14
      %br
      %br
      %h2 Brunch Salads + Sandwiches
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p FRIED EGG SANDWICH | Bacon, Swiss, Tomato, Garlic Aioli, Fries 
          %td{:width => "40"}
            %p $10
        %tr
          %td
            %p CHICKEN SANDWICH TOSCANA | Basil Pesto, Provolone Cheese, Grilled Bread, Arugula 
          %td
            %p $11
        %tr
          %td
            %p EGG WHITE BREAKFAST TACO | Jack Cheese, Avocado, Pico de Gallo, Flour Tortillas 
          %td
            %p $12
        %tr
          %td
            %p 55  BRUNCH BURGER | Sunnyside Egg, Bacon, Cheddar Cheese, Kaiser Bun, Fries 
          %td
            %p $14
        %tr
          %td
            %p SHORT RIB SANDWICH | caramelized onion, mushrooms, provolone cheese, ciabatta bread, fries
          %td
            %p $12
        %tr
          %td
            %p BLUE CRAB CAKE CAESAR SALAD | romain hearts, garlic croutons, creamy caesar dressing  
          %td
            %p $14
        %tr
          %td
            %p SEARED RARE TUNA | Baby Arugula, Carrots, Radish, Bean Sprouts, Sesame-Ginger Vinaigrette 
          %td
            %p $13
      %ul.normal-list
        %li We proudly feature local farm fresh eggs from Dustin's Farm.
      %br
      %br
      %h2 Additions
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p 2 Eggs 
          %td{:width => "40"}
            %p $3
        %tr
          %td
            %p Applewood Smoked Bacon 
          %td
            %p $4
        %tr
          %td
            %p Grits
          %td
            %p $3
        %tr
          %td
            %p Home Fries 
          %td
            %p $3
        %tr
          %td
            %p Fresh Fruit 
          %td
            %p $5
      %br
      %br
      %h2 Sweets
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p GOOSEY CHOCOLATE CAKE | Espresso Angalise, Caramel Ice Cream
          %td{:width => "40"}
            %p $6
        %tr
          %td
            %p BASIL INFUSED CREME BRULEE | Basil Custard, Burnt Sugar, Berries
          %td
            %p $6
        %tr
          %td
            %p ORANGE-FENNEL PANNA COTTA | Sea Salt, Lemon Creme
          %td
            %p $6
        %tr
          %td
            %p CHOCOLATE HAZELNUT BREAD PUDDING | Bourbon Caramel Sauce
          %td
            %p $6
      %br
      %br
  #menuPage-6
    .content
      %h1 Cocktails
      %p We take pride using handcrafted ingredients in our scratch cocktails.  Kindly allow extra time for us to create your cocktails.
      %a.download{:href => "/pdf/wine_list.pdf", :title => "Wine List", :target => "_blank"} Download our Drink Menu 
      %br
      %br
      %h2  Scratch Cocktails
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p JUMP-START | blood orange bitters, soaked sugar cube, bubbles, aperol, fresh rosemary
          %td{:width => "40"}
            %p $9
        %tr
          %td
            %p PIMMS CUP | pimms cup No. 1, London dry gin, freshly squeezed lemon juice, soda
          %td
            %p $9
        %tr
          %td
            %p IMPROVED RUM COCKTAIL| aged Rum, maraschino Liqueur, absinthe, orange bitters
          %td
            %p $10
        %tr
          %td
            %p ROSA | 100% agave tequila, cherry heering, freshly squeezed lime juice
          %td
            %p $8
        %tr
          %td
            %p THE FELIX 55| Chilean pisco, st. germain, freshly squeezed grapefruit juice, peach bitters, egg white
          %td
            %p $10
        %tr
          %td
            %p SOUTHSIDE | dry gin, fresh garden mint, freshly squeezed lemon juice, soda
          %td
            %p $8
        %tr
          %td
            %p RED ROBIN | classic Kentucky straight bourbon, rhubarb amaro, cocchi vermouth, angostura bitters
          %td
            %p $9
        %tr
          %td
            %p TWENTIETH CENTURY COCKTAIL | London dry gin, freshly squeezed lemon juice, lillet, crème de cacao
          %td
            %p $9
        %tr
          %td
            %p WHITE LIE | domaine de canton ginger liqueur, coconut liqueur, coffee, laphroaig single mlt scotch
          %td
            %p $10
        %tr
          %td
            %p TURNING LEAF | calvados apple brandy, cinnamon, freshly squeezed lemon, Averna
          %td
            %p $10
      %br
      %h2 Skinny Organics
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
        %tr
          %td{:width => "460"} 
            %p CRUISOE'S FRIDAY | organic spiced rum, organic jasmine liqueur, freshly squeezed lemon juice, organic agave nectar
          %td{:width => "40"}
            %p $11
        %tr
          %td
            %p JUPITER FLOWER | organic gin, organic jasmine liqueur, freshly squeezed lemon juice, simple syrup
          %td
            %p $10
        %tr
          %td
            %p FRESH GIMLET | organic  vodka, freshly squeezed lime juice, simple syrup, mint leaves
          %td
            %p $10
        %tr
          %td
            %p CUCUMBER MARTINI | organic vodka, cucumber, freshly squeezed lime juice, simple syrup, fresh basil, orange
          %td
            %p $10
        %tr
          %td
            %p HIBISCUS COSMOS | organic tequila, organic hibiscus liqueur, freshly squeezed lemon juice, cranberry splash
          %td
            %p $11
        %tr
          %td
            %p FALL BUBBLES | prosecco , organic baked apple bitters, organic hibiscus liqueur,  brown sugar cubes 
          %td
            %p $10
  #contactPage-1
    .content
      %h1 Contact
      %h2 Hours
      %ul.normal
        %li{:style =>"margin-bottom: 10px;"}
          %b LUNCH
          | Mon - Fri | 11am - 3pm
        %li{:style =>"margin-bottom: 10px;"}
          %b HAPPY HOURS
          | Mon - Sun | 4pm - 7pm
        %li{:style =>"margin-bottom: 10px;"}
          %b DINNER 
          | Mon - Thu | 4pm - 10pm 
          %br
          %span{:style => "margin-left: 75px;"} 
            | Fri - Sat | 4pm - 11pm 
          %br
          %span{:style => "margin-left:75px;"} 
            | Sun | 5pm - 10pm
        %li{:style =>"margin-bottom: 10px;"}
          %b BRUNCH
          | Sat | 10:30am - 3pm
          %br
            %span{:style => "margin-left:80px;"} 
              | Sun | 10:30am - 4pm
      %p 
        %b Bar open nightly until late
      %h2 General Inquiries
      %p 713-590-0610      
      .contact-form
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "460", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p5x7/", :style => "width:100%;border:none"}
  #contactPage-2
    .content
      %h1 Direction
      %h2 Address
      %p 5510 Morningside Dr, No. 120 Houston, TX 77005
      %br
      .map
        %iframe{:frameborder => "0", :height => "340", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=5510+MORNINGSIDE+SUITE+120+Houston,+TX+77005&aq=&ie=UTF8&hq=&hnear=5510+Morningside+Dr,+Houston,+Texas+77005&ll=29.785085,-95.50523&spn=0.104361,0.145912&z=12&iwloc=A&output=embed", :width => "540"}
      %br
      %br
  .copyright-box 
    %p Copyright &copy 2010-2011 Felix 55, All rights reserved. 
    %a.ourLink{:href => "http://media3creative.com/forms/q7p5x7/", :title => "Media 3 Creative"} POWERED BY | Media 3 Creative     
  .photo-preload
    %img{:height => "40", :src => "/images/bg_1.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_2.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_3.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/wine_bottles.jpg", :width => "40"}  
    %img{:height => "40", :src => "/images/cocktails.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/reservation.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/happy_hour.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_6.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/contact.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_3.jpg", :width => "40"}              
    %img{:height => "40", :src => "/images/bg_2.jpg", :width => "40"}
    
  :javascript
    QueryLoader.selectorPreload = "body";
    QueryLoader.init();

    

